<header>
	<nav>
		<ul>
		{% if user %}
		<a href="/logout">déconnexion</a>
			{% else %}
			<li>
            <a href="/register">inscription</a>
            </li>
			<li>
            <a href="/login">connexion</a>
            </li>
		{% endif %}
		</ul>
	</nav>
</header>
